.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #56b5ad;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid 4px rgba(128, 128, 128, 0.521);
  border-radius: 0px 0px 15px 15px;
  z-index: 1;
  transition: top 0.3s;
}

.assets-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sticky {
  display: none;
}


.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.logo {
  width: 200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-box {
  display: flex;
  align-items: center;
}

.nav-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  list-style: none;
}

.nav-link {
  color: black;
  margin: 0 20px;
  font-size: 1.2rem;
}

.nav-link:hover {
  border-bottom: 1px solid black;
}

@media screen and (min-width: 768px) {

  .header {
    flex-direction: row;
  }

  .nav-container {
    max-width: 1000px;
    flex-direction: row;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .logo {
    width: 250px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav-list {
    margin-top: 10px;
  }
}
