<header id="navbar" class="header">
  <div class="assets-container">
    <nav class="nav-container">
      <a routerLink="/home" class="logo-box">
        <img src="/assets/logo-2.png" alt="green bird logo" class="logo">
        <!-- <p class="logo-text">Bird's Eye View</p> -->
      </a>

      <ul class="nav-list">
        <li><a routerLink="/spotted" class="nav-link">Spotted List</a></li>
        <li><a routerLink="/about" class="nav-link">About</a></li>
      </ul>
    </nav>
  </div>
</header>
