
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #56b5ad;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: solid 4px rgba(128, 128, 128, 0.521);
  border-radius: 0px 0px 15px 15px;
  z-index: 1;
  transition: top 0.3s;
}

.sticky {
  display: none;
}


.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.logo {
  width: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-box {
  display: flex;
  align-items: center;
}

.nav-container {
  width: 100%
}

.nav-list {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  list-style: none;
  margin-top: 10px;
}

.nav-link {
  color: black;
  margin: 0 10px;
}

.nav-link:hover {
  border-bottom: 1px solid black;
}

@media screen and (min-width: 768px) {

  .header {
    flex-direction: row;
  }

  .nav-container {
    width: auto;
  }
}
