<div class="about-container">
  <div class="summary-container">

    <h1 class="title">About Bird's Eye View</h1>
    <div class="main-text-box">
      <p class="main-text">Bird’s Eye View is an interactive web app created by Jonathan Joly,
        Rob Schlenker and Julie Smyth. The next time you are craving an outdoor activity,
        look no further than Bird’s Eye View.
      </p>
      <p class="main-text2">
        With access to over 70,000 hiking trails in the US,
        search by location to find the perfect hike near you. Each trail provided by Bird’s Eye
        View gives you hike difficulty, length and even the current weather conditions! But
        the fun doesn’t stop once you get to your trail, we give you up-to-the-minute reports
        on birds recently seen in that area. With thousands of images and access to over
        10,000 sounds, you can identify the birds you see and mark them off as you spot them.
        Can you find them all?
      </p>
    </div>

  </div>

  <div>
    <div class="pic-container">
      <div class="profile-pic">
        <img class="profile-image" src="./assets/jon.png" alt="">
        <h2>Jon Joly</h2>
        <a href="https://www.linkedin.com/in/jonjolyii/"><img class="logo" src="./assets/Linkedin-logo.png" alt=""></a>
      </div>
      <div class="profile-pic">
        <img class="profile-image" src="./assets/rob.png" alt="">
        <h2>Rob Schlenker</h2>
        <a href="https://www.linkedin.com/in/rob-schlenker/"> <img class="logo" src="./assets/Linkedin-logo.png"
            alt=""></a>
      </div>
      <div class="profile-pic">
        <img class="profile-image" src="./assets/julie.png" alt="">
        <h2>Julie Smyth</h2>
        <a href="https://www.linkedin.com/in/julie-smyth/"><img class="logo" src="./assets/Linkedin-logo.png"
            alt=""></a>
      </div>
    </div>

  </div>

</div>
