<div>
  <form #searchFormAddress="ngForm" (ngSubmit)=(getLocationAddress(searchFormAddress))>
    <label for="address">City or Address</label>
    <input type="text" id="address" name="address" ngModel>
    <button>Search</button>

  </form>
  <ol>
    <li *ngFor="let item of trails; index as i">
      <p>{{item.name}}</p>
      <p>{{item.location}}</p>
      <p></p>
      <div>
        <img *ngIf="item.imgSmall" class="imgs" src="{{item.imgSmall}}" alt="Trail img">
        <img *ngIf="!item.imgSmall" class="imgs" src="../../assets/bill.jpg" alt="Trail img">
        <p class="specs">Specs.</p>
      </div>
      <p>Difficulty:{{item.difficulty}}</p>
      <p>Stars:{{item.stars}}</p>
      <p>Votes:{{item.starVotes}}</p>
      <p>Summary:{{item.summary}}</p>
      <p>Length:{{item.length}}</p>
      <p>Condition:{{item.conditionDetails}}</p>
      <p>Condition Date:{{item.conditionDate}}</p>
      <p>Condition Status:{{item.conditionStatus}}</p>
      <ul>
        <li *ngFor="let bird of item.trailBirds; index as i">
          <p>{{bird?.comName}}</p>
          <img class="bird" src="{{bird?.img1}}">
          <img class="bird" src="{{bird?.img2}}">
          <img class="bird" src="{{bird?.img3}}">
          <button (click)="addSpotted(bird)">"o"</button>
          <audio *ngIf="bird.sound" controls>
            <source src={{bird?.sound}}>
          </audio>
        </li>
      </ul>
      <h2>{{ item.weather?.name }}</h2>

      <!-- weather image -->
      <img *ngIf="item.weather" src="http://openweathermap.org/img/wn/{{ (item.weather.weather)[0].icon }}.png"
        alt="weather icon">

      <p>Description: {{ item.weather?.weather[0].description }}</p>
      <p>Current temp: {{ item.weather?.main.temp }}°F</p>
      <p>Feels like: {{ item.weather?.main.feels_like }}°F</p>
      <p>Wind speed: {{ item.weather?.wind.speed }}mph</p>
    </li>


  </ol>




</div>
