<div class="background-container"></div>
<div>
  <div class="search-container">
    <form class="main-search" #searchFormAddress="ngForm" (ngSubmit)=(getLocationAndTrails(searchFormAddress))>
      <label for="address"></label>
      <input class="main-search-input" type="text" id="address" name="address"
        placeholder="Where Would You Like to Hike?" ngModel>
      <button class="search-button" title="Search for trails"><i class="fas fa-search"></i></button>
    </form>
    <div class="img-summary-container">
      <div class="main-img-container">
        <img class="bird-watching-img" src="/assets/bird-watching.png" alt="" srcset="">
      </div>
      <div class="main-header-container">
        <h1 class="main-header">Grab your binoculars!</h1>
        <h2 class="sub-header">Search for a location to bird-watch and add birds to your spotted list as you find them.
          Happy bird watching!
        </h2>
      </div>
    </div>
  </div>

  <!-- trail starts -->
  <ol class="hike-list" id="hike-list">
    <li *ngFor="let item of trails; index as i" class="hike-box">
      <h1 class="hike-title">{{item.name}}</h1>
      <h3 class="hike-city">{{item.location}}</h3>
      <p></p>
      <div>
        <img *ngIf="item.imgMedium" class="imgs" src="{{item.imgMedium}}" alt="Trail image"
          title="Image of {{item.name}} Trail">
        <!-- <img *ngIf="!item.imgMedium" class="imgs" [src]="choosePic()" alt="Default Trail Image"> -->
      </div>
      <button (click)="trailOverviewPath(item.name,item.id)">Trail Overview</button>
      <p>Stars:{{item.stars}}</p>
      <div class="info-buttons-div">
        <button class="trail-stats-button info-buttons" (click)="seeTrailStats(item)"
          [ngClass]="{'hideButton' : item.button}">
          Show More Trail Info</button>
        <button class="bird-info-button info-buttons" (click)="seeBirdInfo(i)" *ngIf="birdIndex != i">More Bird
          Info</button>
        <button class="info-buttons" (click)="seeWeatherInfo(i)" *ngIf="weatherIndex != i">Show Weather Info</button>
      </div>
      <div class="trail-stats extra-trail-info" [ngClass]="{'statsShown' : item.statsShown}">
        <h3 class="trail-info-summary-header">Summary</h3>
        <p class="hike-summary">{{item.summary}}</p>
        <div class="trail-data-container">
          <div class="trail-data-attribute">
            <p>Difficulty: </p>
            <p>Votes:</p>
            <p>Length:</p>
            <p>Condition:</p>
            <p>Condition Date:</p>
            <p>Condition Status:</p>
          </div>
          <div class="trail-data-value">
            <p>{{item.difficulty}}</p>
            <p>{{item.starVotes}}</p>
            <p>{{item.length}}</p>
            <p>{{item.conditionDetails}}</p>
            <p>{{item.conditionDate}}</p>
            <p>{{item.conditionStatus}}</p>
          </div>
        </div>
        <button (click)="hideTrailStats(item)" [ngClass]="{'trailStats' : item.trailStats}"> Hide Details </button>
      </div>
      <!-- bird starts -->
      <ul class="extra-bird-info" *ngIf="birdIndex == i">
        <li class="bird-container" *ngFor="let bird of item.trailBirds; index as i">
          <div class="bird-title">
            <h3 class="bird-name">{{bird?.comName}}</h3>
            <button class="spotted-button" (click)="addSpotted(bird)"><i class="fa fa-binoculars" aria-hidden="true"
                [ngClass]="{'spotted' : bird.addSpotted}"></i></button>
          </div>
          <div class="bird-images">
            <img *ngIf="bird?.img1" class="bird" src="{{bird?.img1}}" alt="Image of {{bird.comName}}"
              title="Image of {{bird.comName}}">
            <img *ngIf="!bird?.img1" class="bird" src="/assets/bird-text.JPG" alt="Image of {{bird.comName}}"
              title="Image of {{bird.comName}}">
            <img *ngIf="bird?.img2" class="bird" src="{{bird?.img2}}" alt="Image of {{bird.comName}}"
              title="Image of {{bird.comName}}">
            <img *ngIf="bird?.img3" class="bird" src="{{bird?.img3}}" alt="Image of {{bird.comName}}"
              title="Image of {{bird.comName}}">
          </div>
          <div class="audio-div">
            <audio class="bird-audio" *ngIf="bird.sound" controls>
              <source src={{bird?.sound}}>
            </audio>
          </div>
        </li>

        <button (click)="hideBirdInfo()"> Hide
          Details
        </button>

      </ul>

      <!-- weather starts -->
      <div class="extra-weather-info" *ngIf="weatherIndex == i">
        <h2>{{ item.weather?.name }}</h2>

        <!-- weather image -->
        <img *ngIf="item.weather" src="http://openweathermap.org/img/wn/{{ (item.weather.weather)[0].icon }}.png"
          alt="weather icon">

        <p>Description: {{ item.weather?.weather[0].description }}</p>
        <p>Current temp: {{ item.weather?.main.temp }}°F</p>
        <p>Feels like: {{ item.weather?.main.feels_like }}°F</p>
        <p>Wind speed: {{ item.weather?.wind.speed }}mph</p>
        <button (click)="hideWeatherInfo()">
          Hide Details </button>
      </div>
    </li>
  </ol>

</div>