<div class="hike-list">
  <div class="hike-box">

    <h1 class="hike-title">{{pickedTrail.name}}</h1>
    <p>{{pickedTrail.location}}</p>
    <p></p>
    <div>
      <img *ngIf="pickedTrail.imgSmall" class="imgs" src="{{pickedTrail.imgMedium}}" alt="Trail img">
      <img *ngIf="!pickedTrail.imgSmall" class="imgs" src="../../assets/default-trail.jpg" alt="Trail img">
    </div>
    <p>Stars:{{pickedTrail.stars}}</p>

    <div class="extra-info">
      <p>Difficulty:{{pickedTrail.difficulty}}</p>
      <p>Votes:{{pickedTrail.starVotes}}</p>
      <p>Summary:{{pickedTrail.summary}}</p>
      <p>Length:{{pickedTrail.length}}</p>
      <p>Condition:{{pickedTrail.conditionDetails}}</p>
      <p>Condition Date:{{pickedTrail.conditionDate}}</p>
      <p>Condition Status:{{pickedTrail.conditionStatus}}</p>
    </div>

    <!-- bird starts -->

    <ul class="extra-info">
      <li class="bird-container" *ngFor="let bird of pickedTrail.trailBirds; index as i">
        <div class="bird-title">
          <p>{{bird?.comName}}</p>
          <button class="spotted-button" (click)="addSpotted(bird)"><i class="fa fa-binoculars" aria-hidden="true"
              [ngClass]="{'spotted' : bird.addSpotted}"></i></button>
        </div>
        <div class="bird-images">
          <img class="image" src="{{bird?.img1}}">
          <img class="image" src="{{bird?.img2}}">
          <img class="image" src="{{bird?.img3}}">
        </div>
        <div class="audio-div">
          <audio *ngIf="bird.sound" controls>
            <source src={{bird?.sound}}>
          </audio>
        </div>
      </li>
    </ul>

    <!-- weather starts -->
    <div class="extra-info">
      <h2>{{ pickedTrail.weather?.name }}</h2>

      <!-- weather image -->
      <img *ngIf="pickedTrail.weather"
        src="http://openweathermap.org/img/wn/{{ (pickedTrail.weather.weather)[0].icon }}.png" alt="weather icon">

      <p>Description: {{ pickedTrail.weather?.weather[0].description }}</p>
      <p>Current temp: {{ pickedTrail.weather?.main.temp }}°F</p>
      <p>Feels like: {{ pickedTrail.weather?.main.feels_like }}°F</p>
      <p>Wind speed: {{ pickedTrail.weather?.wind.speed }}mph</p>
    </div>


  </div>

</div>