/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
